*{
    font-family: Microsoft JhengHei;
    font-size: 1.2rem;
}
/* body{
    background-color: rgb(red, green, blue);
} */
h1{
    color:brown;
}
#lb_menu{
   color: saddlebrown;
}
.divv{
    margin:10px;
}
p{
    color:steelblue;
}
/* 搭配nav轉向 */
#navbarToggleExternalContent{
    transform: translateX(-100%);
    transition: transform .35s ease;
    display: block;
    height: 100%;
    min-height: 100%;
}
#navbarToggleExternalContent.menu-show{
    transform: translateX(0%);
}